n8n-paypal-workflow.json
{
  "name": "AI Services Payment Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paypal-ipn",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "PayPal IPN Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "paypal-ipn-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ipnpb.paypal.com/cgi-bin/webscr",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cmd",
              "value": "_notify-validate"
            }
          ]
        },
        "options": {}
      },
      "id": "paypal-verify",
      "name": "Verify PayPal IPN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "payment-completed",
              "leftValue": "={{$json.body}}",
              "rightValue": "VERIFIED",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-payment",
      "name": "Filter Completed Payment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "repository": "ai-service-{{new Date().getTime()}}",
        "description": "AI Service for {{ $json.payer_email }}",
        "private": true,
        "autoInit": true,
        "gitignoreTemplate": "Node",
        "licenseTemplate": "mit"
      },
      "id": "github-create-repo",
      "name": "Create GitHub Repository",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.netlify.com/api/v1/sites",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.netlifyApiToken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"name\": \"ai-service-{{new Date().getTime()}}\",\n  \"repo\": {\n    \"provider\": \"github\",\n    \"repo\": \"YourGitHubUsername/ai-service-{{new Date().getTime()}}\",\n    \"branch\": \"main\"\n  }\n}",
        "options": {}
      },
      "id": "netlify-create-site",
      "name": "Create Netlify Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "9lmntstudio@gmail.com",
        "toEmail": "={{ $json.payer_email }}",
        "subject": "Welcome to 9LMNTS Studio AI Services!",
        "text": "Hi {{ $json.first_name }},\n\nThank you for your payment! We're setting up your {{ $json.item_name }} now.\n\nYour service details:\n- Service: {{ $json.custom }}\n- Amount Paid: ${{ $json.mc_gross }}\n- Timeline: 24-48 hours\n\nWe'll send your login credentials and deployment link within the next few hours.\n\nBest regards,\n9LMNTS Studio Team",
        "options": {}
      },
      "id": "email-client",
      "name": "Email Client",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "ai_clients",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.payer_email }}",
            "service_type": "={{ $json.custom }}",
            "payment_id": "={{ $json.txn_id }}",
            "amount": "={{ $json.mc_gross }}",
            "status": "paid",
            "github_repo": "ai-service-{{new Date().getTime()}}",
            "created_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "supabase-insert",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "PayPal IPN Webhook": {
      "main": [
        [
          {
            "node": "Verify PayPal IPN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify PayPal IPN": {
      "main": [
        [
          {
            "node": "Filter Completed Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Completed Payment": {
      "main": [
        [
          {
            "node": "Create GitHub Repository",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Repository": {
      "main": [
        [
          {
            "node": "Create Netlify Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Netlify Site": {
      "main": [
        [
          {
            "node": "Email Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
